---
---

@import "{{ site.theme }}";

@font-face {
  font-family: "Raleway";
  font-weight: normal;
  src: url('../fonts/raleway/Raleway-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Lato";
  font-weight: normal;
  src: url('../fonts/lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Lato";
  font-weight: bold;
  src: url('../fonts/lato/Lato-Bold.ttf') format('truetype');
}

body {
  //font: 11px/1.5 "Raleway";
  font: 11px/1.5 "Lato";
}

h4 {
  margin: 0 0 10px;
}

p {
  margin: 0 0 10px;
}

header p {
  font-size: 8pt;
}

.plink {
  padding: 0px 1px;
}

#face {
  margin-bottom: 15px;
}

#name {
  font-weight: bold;
  font-size: 16pt;
}

small {
  font-size: 8px;
}

.wrapper {
  width: 500px;
}

header, footer {
  width: 125px;
}

section {
  width: 350px;
}
